<template name="view">
	{{> status}}
	{{> header}}
	{{> jobDetails}}
	{{> orDocDetails}}
	{{> shipDetails}}
	{{> igmDet}}
	{{> dorderDetails}}
	{{> boeDetails}}
	{{> yrdDetails}}
	{{> dutyDetails}}
	{{> docksDetails}}
	{{> deliveryDetails}}
	{{> billDetails}}

	{{#if pgaselfssai}}
		<br><button class="btn btn-default" name="btnFSSAI" id="btnFSSAI">ENTER FSSAI DETAILS</button>
	{{/if}}
	{{#if pgaselpq}}
			<br><button class="btn btn-default" name="btnPQ" id="btnPQ">ENTER PQ DETAILS</button>
	{{/if}}
	{{#if pgaseladc}}
					<br><button class="btn btn-default" name="btnADC" id="btnADC">ENTER ADC DETAILS</button>
	{{/if}}
	{{#if pgaselwlro}}
						<br><button class="btn btn-default" name="btnWLRO" id="btnWLRO">ENTER WLRO DETAILS</button>
	{{/if}}
	{{#if pgaseltextile}}
							<br><button class="btn btn-default" name="btnTXT" id="btnTXT">ENTER TEXTILE DETAILS</button>
	{{/if}}
</template>
